{% extends 'base.html' %}
{% block title %}
  Depremzede Ekle - Ben İyiyim
{% endblock %}
{% block content %}
  <form action="report" method="post">

    <div class="form-input">
      <label for="input-isim">İsim</label
      ><input
      id="input-isim"
      type="text"
      placeholder="İsim yazınız."
      name="isim"
      required>
    </div>
    <div class="form-input">
      <label for="input-sehir">Sehir</label>
      <select name="sehir" id="input-sehir" required>
        <option value disabled hidden selected>Şehir Seçiniz</option>
        <option value="Adana">Adana</option>
        <option value="Batman">Batman</option>
        <option value="Bitlis">Bitlis</option>
        <option value="Bingöl">Bingöl</option>
        <option value="Diyarbakır">Diyarbakır</option>
        <option value="Elazığ">Elazığ</option>
        <option value="Gaziantep">Gaziantep</option>
        <option value="Hakkari">Hakkari</option>
        <option value="Hatay">Hatay</option>
        <option value="Kahramanmaraş">Kahramanmaraş</option>
        <option value="Kilis">Kilis</option>
        <option value="Malatya">Malatya</option>
        <option value="Mardin">Mardin</option>
        <option value="Muş">Muş</option>
        <option value="Osmaniye">Osmaniye</option>
        <option value="Siirt">Siirt</option>
        <option value="Şırnak">Şırnak</option>
        <option value="Van">Van</option>
      </select>
    </div>
    <div class="form-input">
      <label for="input-adres">Adres</label
      ><input
      id="input-adres"
      type="text"
      name="adres"
      placeholder="Adres ekleyiniz."
      required>
    </div>
    <div class="form-input">
      <label for="input-durum">Durum</label>
      <select name="durum" id="input-durum" required>
        <option value disabled hidden selected>Durum Seçiniz</option>
        <option value="iyiyim">İyiyim</option>
        <option value="enkaz-altinda-degilim-fakat-yardima-ihtiyacim-var">
          Enkaz altında değilim fakat yardıma ihtiyacım var.
        </option>
        <option value="enkaz-altindayim">Enkaz altındayım.</option>
      </select>
    </div>
    <div class="form-input">
      <label for="input-tel">Telefon <small>(Opsiyonel)</small></label
      ><input
      id="input-tel"
      type="tel"
      name="tel"
      placeholder="Telefon ekleyiniz (Örn: 05XXXXXXXXX)."
    />
    </div>
    <div class="form-input"><input type="submit" value="Gönder"/></div>
  </form>
{% endblock %}
{% block inline_js %}
{% endblock %}
