{% load static i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}Ben İyiyim{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="IT Deprem Yardım">
  <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'css/project.css' %}">
  <script defer src="{% static 'js/project.js' %}"></script>
</head>
<body>
<header>
  {% block header %}
  {% endblock %}
</header>
<main>
  {% block content %}
  {% endblock %}
</main>
<footer>
  {% block footer %}
  {% endblock %}
</footer>
<script>
  {% block inline_js %}
  {% endblock %}
</script>
</body>
</html>
