{% extends 'base.html' %}
{% block title %}
  Depremzede Sorgu - Ben İyiyim
{% endblock %}
{% block content %}
  {% csrf_token %}
  <form class="form">
    <div class="form__group">
      <label for="searchInputName">İsim Soyisim<small>(En az 3 karakter)</small></label>
      <input
        class="form__input"
        type="text"
        id="searchInputName"
        placeholder="İsim Soyisim arama"
        min="3"
      />
    </div>
    <div class="form__group">
      <label for="searchInputTel">Telefon Numarası<small>(En az 10 karakter)</small></label>
      <input
        class="form__input"
        type="tel"
        id="searchInputTel"
        placeholder="Örn: 05XXXXXXXXX"
        min="10"
      />
    </div>
    <button class="button" type="submit">Ara</button>
  </form>
  <div id="card__container"></div>
{% endblock %}
{% block footer %}

{% endblock %}
{% block inline_js %}

{% endblock %}
