*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #747474;
}

/*** GENERICS ***/
.bold {
  color: #595959;
  font-weight: bold;
}

/*** CARD ***/
.card {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px 3px #e8e8e8;
}

#card__container {
  width: 100%;
  padding: 20px 15px;
}

#card__container .card:not(:last-child) {
  margin-bottom: 15px;
}

/*** STATUS BAR ***/
.card > .card__status {
  color: white;
  font-weight: bold;
  padding: 3px 0;
  text-align: center;
  border-radius: 5px 5px 0 0;
  background-color: red;
}

.card > .card__status.success {
  background-color: #41a303;
}

.card > .card__status.warning {
  background-color: #ffc400;
}

.card > .card__status.danger {
  background-color: #ff0000;
}

/*** E: STATUS BAR ***/

/*** HEADER ***/
.card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  border-bottom: 1px solid #dddddd;
}

/*** E: HEADER ***/

/*** DETAILS ***/
.card__details {
  padding: 5px 10px;
}

.card__details > var {
  display: block;
  text-decoration: none;
  font-style: normal;
}

/*** E: DETAILS ***/
/*** E: CARD ***/

body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h3 {
  text-align: center;
  margin-bottom: 20px;
}

.form-input label {
  text-align: left;
  width: 100%;
  display: block;
  font-size: 18px;
  padding-bottom: 4px;
}

.form-input + .form-input {
  margin-top: 20px;
  width: 100%;
}

* {
  font-family: sans-serif;
}

form,
.search-list {
  width: 90%;
  max-width: 500px;
}

.form-input input,
.form-input select,
.form-input textarea {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.form-input {
  margin-bottom: 10px;
}

input,
select,
textarea {
  background: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  outline-color: rgb(84 105 212 / 0.5);
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px,
  rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
  rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
  rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
}

textarea {
  height: 70px;
}

input[type="submit"],
.selector button,
.arama-butonu {
  background: #0a7b31;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  padding: 15px;
  border: none;
  display: block;
  width: 100%;
}

input[type="submit"]:hover {
  background: #25ac53;
}

.arama-butonu:hover {
  background: #25ac53;
}

input[type="submit"]:hover {
  background: #25ac53;
}

.arama-butonu:hover {
  background: #25ac53;
}

form,
.search-list {
  display: none;
}

form.open,
.search-list.open {
  display: block;
}

.selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  padding: 30px;
  gap: 30px;
}

.selector.hidden {
  display: none;
}

.selector button {
  width: 100%;
  border: none;
  padding: 20px;
}

.selector button.depremzede {
  background-color: #8e1b07;
}

.selector button.depremzede-yakini {
  background-color: #c14d0a;
}

@media (max-width: 500px) {
  h3 {
    font-size: 16px;
    margin-top: 0;
  }
}

.search-list-unit {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  gap: 10px;
}

.search-result {
  display: flex;
  flex-direction: column;
  padding: 10px;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  width: 200px;
}

.data {
  display: flex;
  flex-wrap: wrap;
}
